<footer class="section  footer-big" data-background-color="black">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <img src="/img/logo2-e1405724462957.png">
        <p>Let us help you simplify your IT needs while boosting your business efficiency and performance. Transform with the power of the cloud and simplify with virtualization...</p>
      </div>
      <div class="col-lg-4 col-md-12 text-align-left">
        <h5 class="uppercase">
          Resources</h5>
          <p>
            <ul class="arrows">
              <li class="page_item page-item-4730"><a href="http://www.zaviya.net/solutions/">Solutions</a></li>
              <li class="page_item page-item-5035 current_page_item"><a href="http://www.zaviya.net/">Zaviya Solutions Group</a></li>
              <li class="page_item page-item-5133"><a href="http://www.zaviya.net/partners/">Partners</a></li>
              <li class="page_item page-item-5160"><a href="http://www.zaviya.net/about-us/">About-Us</a></li>
              <li class="page_item page-item-5199"><a href="http://www.zaviya.net/contact/">Contact US</a></li>
              <li class="page_item page-item-5220"><a href="http://www.zaviya.net/public-sector/">Public Sector</a></li>
              <li class="page_item page-item-5245"><a href="http://www.zaviya.net/careers/">Careers</a></li>
              <li class="page_item page-item-5270"><a href="http://www.zaviya.net/legal/">Legal</a></li>
            </ul>
          </p>

        </div>
        <div class="col-lg-4 col-md-12">
          <h5 class="uppercase">
            Connect</h5>
            <p>
              Need more information or would like to discuss your upcoming business IT projects?
            </p>
            <div class="container footer">
            <nav>
              <ul>
              {{ range .Site.Menus.footer }}
                <li>
                  <a href="{{ .URL | relURL }}">{{ .Pre }} {{ .Name }}</a>
                </li>
              {{ end }}
              </ul>
            </nav>
          </div>
            </div>
        </div>
      </div>
    </footer>
