<!-- Tracking Code for www.zaviya.net -->

      <script>
        (function (v, i, s, a) {
          v._visaSettings = {v: "0.2", s: "48e0691a-48e2-11e9-b589-901b0edac50a", a: 1};
          _v = i.getElementsByTagName('head')[0];_a=_v;
          _i = i.createElement('script');
          _s =_i; _s.async = "async"; _s.src = s + a + v._visaSettings.v;
          _a.appendChild(_s);
        })(window, document, '//app-worker.visitor-analytics.io/main', '.js?v=');
      </script>

<!-- Tracking Code for www.zaviya.net -->
